{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{user}}페이지에 오신 것을 환영합니다</h1>

<h2>팔로워</h2>
{{ user.profile.followers.count}}명
<ul>
    {% for follower in user.profile.followers.all %}
    <li><a href="{% url 'users:mypage' follower.user.id %}">{{ follower.user.username }}</a></li>
    {% empty %}
    <li>없습니다.</li>
    {% endfor %}
</ul>

<h2>팔로잉</h2>
{{ user.profile.followings.count}}명
<ul>
    {% for following in user.profile.followings.all %}
    <li><a href="{% url 'users:mypage' following.user.id %}">{{ following.user.username }}</a></li> 
    {% empty %}
    <li>없습니다.</li>
    {% endfor %}
</ul>
{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
        <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' user.id %}">
        <button type="button" class="btn btn-info">팔로우</button>
        </a>
        {% endif %}
    {% endif %}
{% endblock %}

