{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <h3 class="contents">Welcome Study Zone!</h3>
    <h1 class="contents">This is Second Page</h1>
    <h2 class="contents">baby lion fighting</h2>
</div>
<a href="{% url 'main:new-post' %}">포스트 작성하기</a>
<div>
    {% for post in posts %}
    <div>
        <hr/>
        <h3>{{post.title}}</h3>
        {{post.writer}} | {{post.pub_date}} | {{post.email}}<br>
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}